.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# R data pipeline stuff
.Rproj.user
*.Rproj
.Rhistory
data_processing_pipeline/.remake
data_processing_pipeline/*/out/
data_processing_pipeline/*/tmp/
data_processing_pipeline/build_svg.R
data_processing_pipeline/fetch_layers.R
data_processing_pipeline/.RData