.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# R data pipeline stuff
.Rproj.user
*.Rproj
.Rhistory
_targets/
01_fetch/out/
02_process/out/
02_process/in/
03_visualize/out/

.kiro/