@import './common.css'; /* USGS Viz ID Stylesheet */
@import './custom.css'; /* USGS Viz ID Stylesheet */

/* Global styles for fire-hydro */

#app {
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}
